.main-container {
  display: flex;
  min-height: 100vh;
  overflow: visible;
}

.recipe-list, .recipe-detail, .shopping-list {
  flex-grow: 1;
  min-height: 100vh;
  overflow: visible;
  padding-bottom: 20px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.recipe-list-container,
.shopping-list-container,
.recipe-detail-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.recipe-list-container::-webkit-scrollbar,
.shopping-list-container::-webkit-scrollbar,
.recipe-detail-container::-webkit-scrollbar {
  display: none;
}
